*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --calc-bg-color:#333;
    --body-bg:#1b1b1b;
    --calc-expression-color:#eee;
}
.light:root{
    --calc-bg-color:#eee;
    --body-bg:#333;
    --calc-expression-color:#1b1d21;
}
body{
    background-color:var(--body-bg);
    font-family: 'Roboto', 'consolas', monospace;
}
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--calc-bg-color);
    color: var(--calc-expression-color);
}

.converter_option{
    width: 100%;
    height: 60px;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chage_mode,
.menu_option{
    cursor: pointer;
}

.converter_screen{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    font-size: xx-large;
}

.greatness{
    display: flex;
    flex-direction: column;
}
.first_value input,
.second_value input{
    max-width: 250px;
    margin: 5px 0;
    border: none;
    background-color: transparent;
    font-size: 18pt;
    outline: none;
    color: var(--calc-expression-color);
}

.greatness select{
    appearance: none;
    outline: none;
    font-size: medium;
    padding: 10px;
    background: var(--calc-bg-color);
    color: var(--calc-expression-color);
}

.calc_keyboard{
    display: grid;
    grid-template:repeat(5,1fr) / repeat(3,1fr);
    gap: 15px;
}
.keyboard_key{
    width: 90px;
    height: 50px;
    box-shadow: 0px 0px 5px var(--calc-expression-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: x-large;
    cursor: pointer;
}
.keyboard_key:hover{
    background-color: var(--calc-expression-color);
    color: var(--calc-bg-color);
}
.keyboard_key:active{
    transform: scale(0.9);
}
.models{
    display: none;
}

@media (min-width:425px) {
    main{
        width: 320px;
        margin: 0 auto;
    }
}